<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/input}" method="post">
<div><p>请输入您的站点名字</p><input type="text" name="sitename"/></div>
<div><p>请输入您的站点域名</p><input type="text" name="domain"/></div>
<div><p>请选择您的模板</p><input type="text" name="template"/></div>
<div><p>请输入您的模板名称</p><input type="text" name="tempname"/></div>
<div><p>请输入您的模板标题</p><input type="text" name="temptitle"/></div>
<div><p>请输入您的模板内容</p><input type="text" name="tempcontent"/></div>
<input type='file' webkitdirectory >  
<button id="upload-btn" type="button">upload</button> 
<a href="javascript:void(0);" class="input_btn">input</a>
</form>
</body>
<script th:src="@{/js/jquery-1.11.3.min.js}"></script>
<script th:src="@{/js/admin.js}"></script>
</html>