<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/u/site}" method="post">
<div><p>请输入您的站点名字</p><input type="text" name="sitename"/></div>
<div><p>请输入您的站点域名</p><input type="text" name="domain"/></div>
<div><p>请选择您的模板</p><input type="text" name="template"/></div>
<a href="javascript:void(0);" class="site_input">input</a>
</form>
</body>
<script th:src="@{/js/jquery-1.11.3.min.js}"></script>
<script th:src="@{/js/admin.js}"></script>
</html>