<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div><a th:href="@{/u/temp/input}">模板发布</a></div>
<div th:each="list:${list}">
<div><div style=" display:inline;">模板名称 :</div> <div style=" display:inline;" th:text="${list.name}"></div></div>

<div><a th:href="@{'/u' + '/temp/' + ${list?.id}} + '/edit/'">修改</a></div>
<div><a th:href="@{'/u' + '/temp/' + ${list?.id}} + '/delete/'" class="temp_delete">删除</a></div>
</div>
</body>
<script th:src="@{/js/jquery-1.11.3.min.js}"></script>
<script th:src="@{/js/admin.js}"></script>
</html>