<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/u/temp}" method="post">
<div><p>请输入您的模板名字</p><input type="text" name="tempname"/></div>
<div><p>请输入您的模板标题</p><input type="text" name="temptitle"/></div>
<div><p>请输入您的模板内容</p><input type="text" name="tempcontent"/></div>
<div><p>请定义您的模板价格</p><input type="text" name="tempprice"></div>
<input name="file" type='file' webkitdirectory >  
<button class="temp_input" type="button">upload</button> 
<!-- <a href="javascript:void(0);" class="temp_input">input</a> -->
</form>
</body>
<script th:src="@{/js/jquery-1.11.3.min.js}"></script>
<script th:src="@{/js/admin.js}"></script>
</html>